/*Ajustes iniciales y cabecera*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* estilos del index*/
body {
  height: 100%; }
  body header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px; }
    body header nav ul li a:hover {
      background: #7ebd57; }
    body header nav div a:hover {
      background: #687a68; }
  body .headerIndex {
    border-top: 20px solid #34626c6e; }
    body .headerIndex .logoPrincipal {
      width: 230px;
      height: 200px;
      margin: 40px 0; }
    body .headerIndex .logoPrincipal:hover {
      transform: scale(1.2); }
    body .headerIndex .menuNav {
      width: 100%; }
      body .headerIndex .menuNav nav {
        display: flex;
        width: 100%;
        padding-top: 10px;
        justify-content: center; }
        body .headerIndex .menuNav nav ul li {
          display: inline-block; }
    body .headerIndex .indexNav {
      background-image: linear-gradient(to right, #34626C, black); }
      body .headerIndex .indexNav ul li a {
        text-decoration: none;
        color: whitesmoke;
        padding: 10px;
        font-family: 'Abel', sans-serif;
        font-size: 18px;
        margin: 0px; }
      body .headerIndex .indexNav ul li a:hover {
        background: #60A9A6; }
    body .headerIndex div div div img {
      width: auto;
      height: 60vh; }
  body .mainHome {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20% 80%;
    grid-template-areas: "h1 h1 h1 h1" "img-1 img-2 img-3 img-4";
    justify-items: center;
    align-items: center; }
    body .mainHome .h1Inicio {
      grid-area: h1;
      margin: 40px 0; }
      body .mainHome .h1Inicio .estiloH1Inicio {
        text-align: center;
        font-family: 'Abel', sans-serif;
        font-size: 200%;
        font-weight: bold; }
    body .mainHome div img {
      width: 100%;
      height: 80%; }
    body .mainHome div .h3Index {
      font-size: 1.5rem; }
    body .mainHome .imgIndex1 {
      grid-area: img-1;
      justify-self: center;
      width: 55%;
      text-align: center; }
    body .mainHome .imgIndex2 {
      grid-area: img-2;
      justify-self: center;
      width: 75%;
      text-align: center; }
    body .mainHome .imgIndex3 {
      grid-area: img-3;
      justify-self: center;
      width: 55%;
      text-align: center; }
    body .mainHome .imgIndex4 {
      grid-area: img-4;
      justify-self: center;
      width: 55%;
      text-align: center; }
    body .mainHome .animacionCard:hover {
      transform: scale(1.3);
      box-shadow: 2px 2px 10px rgba(75, 72, 72, 0.24); }
  body footer {
    color: whitesmoke;
    background-color: black;
    overflow: hidden;
    padding: 20px 0 30px 0;
    margin-top: 30px;
    font-family: 'Abel', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    body footer .logoPago {
      padding: 30px; }
      body footer .logoPago .h2Pago {
        margin-bottom: 10px;
        font-size: 1.5rem; }
      body footer .logoPago img {
        width: 72px;
        height: 37px;
        margin-bottom: 50px;
        padding: 2px; }
    body footer div .h2Posicion {
      margin: 34px 0px 5px 10px;
      font-size: 1.5rem; }
    body footer div .logoRedes {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 220px;
      padding: 5px;
      border-radius: 50%; }
      body footer div .logoRedes .logoI {
        width: 40px;
        height: 40px; }
      body footer div .logoRedes .logoStyle {
        font-size: 17px; }
      body footer div .logoRedes .logoF {
        width: 30px;
        height: 30px;
        padding: 3px;
        margin: 0px 3px 0px 12px; }

/* Media Queries */
@media screen and (max-width: 800px) {
  /* index */
  body header .menuNav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: auto; }
    body header .menuNav .indexNav ul {
      display: flex;
      flex-wrap: nowrap;
      width: auto; }
      body header .menuNav .indexNav ul li a {
        width: 80%;
        height: auto; }
    body header .menuNav div div div img {
      height: auto; }
  body .mainHome {
    display: flex;
    flex-direction: column; }
  body footer {
    display: flex;
    flex-direction: column; }
    body footer .logoPago {
      margin: 0;
      padding: 10px; }
      body footer .logoPago img {
        margin: 5px; }
    body footer div .logoRedes {
      justify-content: start;
      width: 100%; } }
