@import "base/variables";
@import "base/mapas";
@import "base/extend";
@import "base/mixin";


*{
    @extend %ajuste-inicial;
}

/* estilos del index*/

body{
    height: 100%;
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        nav{
            ul{
                li{
                    a:hover{
                        background: map-get($map: $nav-pages, $key: hover-encabezado);
                    }
                }
            }
            div{
                a:hover{
                    background: map-get($map: $nav-pages, $key: hover-encabezado);
                }
            }
        }
    }
    .headerIndex{
        border-top: 15px solid transparent;
        border-image: linear-gradient(to right, $color-principal, black) 1;
        .logoPrincipal{
            width: 230px;
            height: 200px;
            margin: 40px 0;
        }
        .logoPrincipal:hover{
            transform: scale(1.2);
        }
        .menuNav{
            width: map-get($map: $nav-home, $key: w-home);
            nav{
                display: map-get($map: $nav-home, $key: estilo-home);
                justify-content: map-get($map: $nav-home, $key: ubicacion-home);
                width: map-get($map: $nav-home, $key: w-home);
                padding-top: map-get($map: $nav-home, $key: pdg-home);
                ul{
                    li{
                        display: inline-block;
                        }
                    }
                }
            }
            .indexNav{
                background-image: linear-gradient(to right, $color-principal, black);
                ul{
                    li{
                        a{
                            font-family: 'Abel', sans-serif;
                            text-decoration: none;
                            color: map-get($map: $nav-home, $key: color-home);
                            padding: map-get($map: $nav-home, $key: pdg-home);
                            font-size: map-get($map: $nav-home, $key: font-s-home);
                            margin: map-get($map: $nav-home, $key: margin-home);
                        }
                        a:hover{
                            background: map-get($map: $nav-home, $key: hover-home);
                            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.562);
                            border-radius: 50px;
                        }
                    }
                }
            }
            div{
                div{
                    div{
                        img{
                            width: auto;
                            height: 65vh;
                        }
                    }
                }
            }
        }
    .mainHome{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-template-rows: 20% 70% 10% ;
        grid-template-areas:
                            "h1 h1 h1 h1"
                            "img-1 img-2 img-3 img-4"
                            "button button button button";
        justify-items: center;
        align-items: center;
        .h1Inicio{
            grid-area: h1;
            margin: 80px 0;
            .estiloH1Inicio{
                text-align: center;
                font-family: 'Combo', cursive;
                font-size: 200%;
                font-weight: bold;
            }
        }
        div{
            img{
                width: 100%;
                height: 80%;
            }
            .h3Index{
                font-size: 1.2rem;
                margin: 10px;
            }
            p{
                del{
                    color: gray;
                }
            }
        }
        .imgIndex1{
            grid-area: img-1;
            @include grid-tarjetas;
        }
        .imgIndex2{
            grid-area: img-2;
            @include grid-tarjetas;
        }
        .imgIndex3{
            grid-area: img-3;
            @include grid-tarjetas;
        }
        .imgIndex4{
            grid-area: img-4;
            @include grid-tarjetas;
        }
        .animacionCard:hover{
            @include animacion-card;
        }
        button{
            grid-area: button;
            width: 18%;
            height: 2.3rem;
            background-color: black;
            border-radius: 50px;
            a{
                text-decoration: none;
                color: white;
            }
        }
        button:hover{
            @include animacion-button;
        }
    }
    footer{
        color: whitesmoke;  
        background-color: black;
        overflow: hidden;
        margin-top: 30px;
        font-family: 'Abel', sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .logoPago{
            padding: 30px;
            .h2Pago{
                margin-bottom: 10px;
                font-size: 1.5rem;
            }
            img{
                width: 72px;
                height: 37px;
                margin-bottom: 50px;
                padding: 2px;
            }
        }
        div{
            .h2Posicion{
                margin: 34px 0px 5px 10px;
                font-size: 1.5rem;
            }
            .logoRedes{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 220px;
                padding: 5px;
                border-radius: 50%;
                .logoI{
                    width: 40px;
                    height: 40px;
                }
                a{
                    text-decoration: none;
                    .logoStyle{
                        color: whitesmoke;
                        font-size: 17px;
                        margin-top: 10px;
                    }
                }
                .logoF{
                    width: 30px;
                    height: 30px;
                    padding: 3px;
                    margin: 0px 3px 0px 12px;   
                }
            }
        }
    }
}

/* estilos de productos */

body{
    .headerProductos{
        width: 100%;
        .navProductos{
            margin-left: map-get($map: $nav-pages, $key: margin-menu);
            margin-right: 0;
        }
    }
    .mainProductos{
        padding-right: 0;
        .cabeceraProductos{
            height: 120px;
            background-color: #3d8676;
            border-bottom-left-radius: 50% 50%;
            border-bottom-right-radius: 50% 50%;
            .h1Productos{
                @extend %encabezados;
                margin-top: 30px;
            }
        }
        .row{
            margin-right: 0;
        }
        div{
            .lista{
                padding: 10px;
                margin: 30px 0;
                .list-group{
                    --bs-list-group-active-bg: #59ce8f;
                    --bs-list-group-active-border-color: #59CE8F;
                }
                div{
                    h4{
                        padding: 10px;
                        border-bottom: 0.5px groove #E1FFEE;
                    }         
                    .productos{
                        margin: 30px 0;
                        .tarjeta{
                            margin: 30px 30px;
                            padding: 0px;
                            font-family: 'Abel', sans-serif;
                        }
                        .tarjeta:hover{
                            @include animacion-card;
                        }
                    }
                }
            }
        }
    }
}

/* estilos de la-tienda */ 

body{
    .tienda{
        padding: 0;
        margin-bottom: 0;
        .navTienda{
            position: map-get($map: $nav-pages, $key: posicion-pages);
            width: map-get($map: $nav-pages, $key: w-pages);
        }
        .h1Tienda{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;  
            width: 100%;
            height: 18vh;
            background-color: #B97A95;
            border-bottom-left-radius: 50% 50%;
            border-bottom-right-radius: 50% 50%;
            @extend %encabezados;                
        }
    }
    .mainLaTienda{
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        grid-template-rows: 60% 10% 30%;
        grid-template-areas:
                            "portada portada"
                            "ubicacion ubicacion"
                            "mainLaTienda1 mainLaTienda2" ;
                            
        column-gap: 10px;
        height: auto;
        .portada{
            grid-area: portada;
            display: flex;
            justify-content: center;
            img{
                width: 60%;
                height: 95%;
            }
        }
        .ubicacion{
            grid-area: ubicacion;
            display: flex;
            justify-content: left;
            align-items: center;
            font-family: 'Abel', sans-serif;
            font-size: 20px;
            p{
                margin-top: 20px;
            }
            img{
                width: 50px;
                height: 60px;
            }
        }
        .mainLaTienda1{
            grid-area: mainLaTienda1;
            margin: 10px 0 0 60px;
            height: auto;
            .mapa{
                width: 70%;
            }
        }
        .mainLaTienda2{
            grid-area: mainLaTienda2;
            display: flex;
            flex-direction: column;
            .tiendaIcon{
                display: flex;
                align-items: center;
                padding: 10px;
                .p-icon{
                    margin: 10px;
                    align-items: center;
                    font-family: 'Abel', sans-serif;
                }
            }
        }
    }
}

/* estilos contacto */ 

.hojaContacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 60% 30%;
    grid-template-areas:
                        "header header"
                        "main main"
                        "footer footer";
    background-image: url(../img/background.image/fondo.contacto.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    height: 130vh;
    .headerContacto{
        grid-area: header;
        .navContacto{
            margin-left: map-get($map: $nav-pages, $key: margin-menu);
            margin-bottom: map-get($map: $nav-pages, $key: pdg-pages);
        }
    }
    .mainContacto{
        grid-area: main;
        margin-bottom: 40px;
        .formulario{
            width: 90%;
            max-width: 600px;
            margin: auto;
            background: rgba(0, 0, 1, 0.6);
            font-family: 'Abel', sans-serif;
            font-size: 20px;
            color: whitesmoke;
            border-radius: 10px;
            fieldset{
                .form{
                    padding: 10px;
                    margin: 5px;
                    label{
                        padding: 3px;
                        margin-right: 20px;
                    }
                    input{
                        width: 250px;
                        height: 25px;
                        border-radius: 10px;
                        border-style: hidden;
                    }
                }
                .formDistinto{
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    margin: 5px;
                    input{
                        width: 500px;
                        height: 100px;
                        margin: 10px 0 10px 0;
                        border-radius: 10px;  
                        border-style: hidden;
                    }
                }
                .formButton{
                    display: flex;
                    justify-content: space-around;
                    padding: 5px;
                    input{
                        width: 10rem;
                        height: 1.5rem;
                        border-radius: 10px;
                        border-style: hidden;
                        font-family: 'Abel', sans-serif;
                        font-size: 90%;
                    }
                }
            }
        }
    }
    .footerStyleContacto{
        grid-area: footer;
    }
}

/* estilos Mas.. */ 

body{
    .headerMas{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        padding: 0;
        .navTienda{
            position: map-get($map: $nav-pages, $key:posicion-pages);
            width: map-get($map: $nav-pages, $key:w-pages);
        }
        .encabezado{
            width: 100%;
            height: 100px;
            background: #54BAB9;
            text-align: center;
            border-bottom-left-radius: 50% 50%;
            border-bottom-right-radius: 50% 50%;
            .h1Mas{
                font-family: 'Montserrat Alternates', sans-serif;
                margin: 20px 0;
                color: whitesmoke;
                font-size: 2.5rem; 
            }
        }
    }
    .mainMas{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 5% 20% 75%;
        grid-template-areas:
                            "button button" 
                            "h2 h2"
                            "imgmas listatip";
        .anteriores{
            grid-area: button;
            display: flex;
            justify-content: end;
            button{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: auto;
                height: auto;
                background-color: black;
                color: white;
                font-family: 'Montserrat', sans-serif;
                border: none;
                border-radius: 5px;
                margin-right: 25px;
                .icono{
                    padding-left: 10px;
                }
                a{
                    text-decoration: none;
                    color: whitesmoke;
                    font-size: auto;
                    padding: 0 10px;
                }
            }
            button:hover {
                background-color: #59ce8f;
                box-shadow: 1px 1px 7px black;
            }
        }
        .estiloTip{
            grid-area: h2;
            display: flex;
            justify-content: start;
            align-items:center;
            width: 200px;
            height: 200px;
            border-radius: 100px;
            background-color: #59ff5986;
            text-align: center;
            margin-left: 30px;
            z-index: 1;
            h2{
                font-size: 1.5rem;
                font-weight: bold;
                padding: 10px;
            }
        }
        .imgMas{
            grid-area: imgmas;
            display: flex;
            justify-content: center;
            img{
                z-index: -1;
            }
        }
        .listaTip{
            grid-area: listatip;
            ul{
                font-family: 'Montserrat', sans-serif;
                font-size: 1.6rem;
                font-weight: bold;
                color: #748DA6;
                span{
                    font-size: 3rem;
                    color:#3d8676;
                }
                li{
                    font-family: 'Ms Madi', cursive;
                    color: #413F42;
                }
            }
        }
    }
}

/* Estilos de Nutritips */

body{
    header{
        .navTips{
            position: static;
            width: 100%;
        }
        .h1Tips{
            width: 100%;
            h1{
                font-family: 'Montserrat', sans-serif;
                font-size: 1.9rem;
                font-weight: bold;
                color: #54BAB9;
                margin: 20px 0 0 80px;
            }
        }
        .buttonTop{
            padding: 10px;
            display: flex;
            justify-content: end;
            align-items: flex-start;
            width: 100%;
            a{
                position: fixed;
                text-decoration: none;
                background-color: #2b48659d;
                color: whitesmoke;
                padding: 5px 8px;
                border-radius: 15px;
                font-size: 1rem;
                font-weight: 600;
                margin-right: 30px;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.30);
            }
            a:hover{
                background-color: black;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.50);
                transform: translateY(-5px);
            }
        }
    }
    main{
        .seccion-1{
            display: grid;
            height: 50vw;
            margin: 15px 80px 80px 80px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 30% 30% 30%;
            grid-template-areas:
                                "principal principal tip-1"
                                "principal principal tip-2" 
                                "tipUltimo tip-4 tip-3";
            gap: 20px;
            div{
                a{
                    text-decoration: none;
                    padding: 5px;
                    color: whitesmoke;
                    background-color: rgba(0, 0, 0, 0.39);
                    border-radius: 5px;
                    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
                }
                a:hover{
                    font-size: 1.3rem;
                }
            }
            .principal{
                grid-area: principal;
                background-image: url(../img/background.image/nutritip-principal.webp);
                @include tips-anteriores;
                p{
                    font-size: 3rem;
                    font-weight: bold;
                }
            }
            .tip-1{
                grid-area: tip-1;
                background-image: url(../img/background.image/mas-page2.PNG);
                @include tips-anteriores;
             }   
            .tip-2{
                grid-area: tip-2;
                background-image: url(../img/background.image/mas-page3.PNG);
                @include tips-anteriores;
            }
            .tip-3{
                grid-area: tip-3;
                background-image: url(../img/background.image/mas-page4.PNG);
                @include tips-anteriores;
            }
            .tip-4{
                grid-area: tip-4;
                background-image: url(../img/background.image/mas-page5.PNG);
                @include tips-anteriores;
            }
            .tipUltimo{
                grid-area: tipUltimo;
                background-image: url(../img/background.image/mas-page.PNG);
                @include tips-anteriores;           
            }
        }
        .seccion-2{
            display: grid;
            height: 70vw;
            grid-template-columns: 2.2fr 1fr;
            grid-template-rows: 50% 50%;
            grid-template-areas: 
                                "texto img-encabezado"
                                "img-fondo img-fondo";
            background-color: #F2D388;
            border-top: 20px solid rgba(0, 0, 0, 0.8);
            border-bottom: 20px solid rgba(0, 0, 0, 0.8);
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 50px;
            .imgCabezaS2{
                grid-area: img-encabezado;
                display: flex;
                align-items: flex-end;
                margin-right: 80px;
                img{
                    height: 90%;
                }
            }
            .texto{
                grid-area: texto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: start;
                margin-left: 22%;
                .titulo{
                    font-size: 1.2rem;
                    font-weight: bold;
                    padding: 10px 0;
                }
            }
            .imgFondoS2{
                grid-area: img-fondo;
                height: 100%;
                display: flex;
                justify-content: center;
                margin: 0 80px;
                img{
                    width: 80%;
                    height: 95%;
                    border-radius: 20px;
                    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.3);
                }
            }
        }
        .seccion-3{
            display: grid;
            grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
            grid-template-rows: 10% 8% 25% 8% 6% 6% 40%;
            grid-template-areas: 
                                "h2 h2 h2 h2"
                                "subtitulo subtitulo subtitulo subtitulo"
                                "textos3 textos3 textos3 textos3"
                                "h3 h3 h3 h3"
                                "prop1 prop2 prop3 prop4"
                                "prop5 prop5 prop6 prop6"
                                "imgs3 imgs3 imgs3 imgs3";
            height: 70vw;
            font-family: 'Combo', cursive;
            border-bottom: 20px solid rgba(0, 0, 0, 0.8);
            .tituloS3{
                grid-area: h2;
                @include estilos-seccion3;
                align-items: flex-end;
                h2{
                    color: #790252;
                    font-size: 3rem;
                    font-weight: bold;
                }
            }
            .subtituloS3{
                grid-area: subtitulo;
                @include estilos-seccion3;
                font-size: 1.5rem;
                font-weight: bold;
            }
            .textoS3{
                grid-area: textos3;
                display: flex;
                flex-direction: column;
                align-items: center;
                p{
                    font-size: 1.3rem;
                    color: #790252;
                    font-weight: 400;
                }
            }
            .h3S3{
                grid-area: h3;
                @include estilos-seccion3;
                align-items:flex-start;
                h3{
                    font-family: 'Combo', cursive;
                    font-weight: bold;
                    font-size: 2rem;
                } 
            }
            .prop1{
                grid-area: prop1;
                @extend %propiedades-S3;
                justify-content: end;
                p{
                    font-size: 1.3rem;
                }
            }
            .prop2{
                grid-area: prop2;
                @extend %propiedades-S3;
                justify-content: center;
                p{
                    font-size: 1.3rem;
                }
            }
            .prop3{
                grid-area: prop3;
                @extend %propiedades-S3;
                justify-content: center;
                p{
                    font-size: 1.3rem;
                }
            }
            .prop4{
                grid-area: prop4;
                @extend %propiedades-S3;
                justify-content: start;
                p{
                    font-size: 1.3rem;
                }
            }
            .prop5{
                grid-area: prop5;
                @extend %propiedades-S3;
                justify-content: center;
                position: relative;
                left: 15%;
                p{
                    font-size: 1.3rem;
                    padding: 10px;
                }
            }
            .prop6{
                grid-area: prop6;
                @extend %propiedades-S3;
                justify-content: center;
                position: relative;
                right: 20%;
                p{
                    font-size: 1.3rem;
                    padding: 10px;
                }
            }
            div{
                p{
                    z-index: 1;
                }
            }
            .imgS3{
                grid-area: imgs3;
                display: flex;
                justify-content: center;
                height: 100%;
                img{
                    position: relative;
                    bottom: 30%;
                    z-index: -1;
                }
            }     
        }
        .seccion-4{
            display: grid;
            height: 70vw;
            grid-template-columns: 1.5fr 0.5fr;
            grid-template-rows: 30% 70%;
            grid-template-areas: 
                                "h2 h2"
                                "textos4 imgs4";
            padding-top: 30px;
            background-color: #FFE6E6;
            border-bottom: 20px solid rgba(0, 0, 0, 0.8);
            .tituloS4{
                grid-area: h2;
                @include estilos-seccion3;
                align-items: center;
                height: 100%;
                h2{
                    font-weight: bold;
                    font-size: 2.5rem;
                    z-index: 1;
                    color: #748DA6;
                    span{
                        font-size: 7rem;
                        color: #3d8676;
                        position: relative;
                        left: 19%;
                        top: 18px;
                        z-index: -1;
                    }
                }
            }
            .textoS4{
                grid-area: textos4;
                display: flex;
                justify-content: end;
                z-index: 1;
                font-family: 'Ms Madi', cursive;
                font-size: 1.6rem;
                font-weight: bold;
            }
            .imgS4{
                grid-area: imgs4;
                position: relative;
                right: 40%;
                top: 60px;
                z-index: 0;
            }
        }
        .seccion-5{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 20% 15% 30% 10% 15%;
            grid-template-areas: 
                                "titulo titulo titulo"
                                "atributo1 atributo2 atributo2"
                                "atributo3 imgs5 atributo4"
                                "atributo5 imgs5 atributo6"
                                "atributo7 atributo7 atributo8";
            background-color: #E5CB9F;
            height: auto;
            .tituloS5{
                grid-area: titulo;
                @include estilos-seccion3;
                border-bottom: 15px solid #E38B29;
                background-color: #BB9981;
                padding-top: 30px;
                p{
                    font-size: 1.8rem;
                    font-weight: 700;
                    align-self: center; 
                }
                h2{
                    font-size: 2.8rem;
                    align-self: end;
                    color: #E3C770;
                    font-weight: bold;
                }
            }
            .atributo1{
                grid-area: atributo1;
                @extend %atributos-div-s5;
                justify-content: end;
                align-items: flex-end;
                p{
                    @extend %atributos-p-s5;
                }
            }
            .atributo2{
                grid-area: atributo2;
                @extend %atributos-div-s5;
                justify-content: center;
                align-items: flex-end;
                p{
                    @extend %atributos-p-s5;
                }
            }
            .atributo3{
                grid-area: atributo3;
                @extend %atributos-div-s5;
                justify-content: end;
                align-items: center;
                p{
                    @extend %atributos-p-s5;
                }
            }
            .atributo4{
                grid-area: atributo4;
                @extend %atributos-div-s5;
                align-items: center;
                p{
                    @extend %atributos-p-s5;
                }
            }
            .atributo5{
                grid-area: atributo5;
                @extend %atributos-div-s5;
                justify-content: end;
                align-items: flex-start;
                p{
                    @extend %atributos-p-s5;
                }
            }
            .atributo6{
                grid-area: atributo6;
                @extend %atributos-div-s5;
                align-items: flex-start;
                p{
                    @extend %atributos-p-s5;
                    width: auto;
                }
            }
            .atributo7{
                grid-area: atributo7;
                @extend %atributos-div-s5;
                justify-content: center;
                align-items: flex-start;
                p{
                    @extend %atributos-p-s5;
                }
            }
            .atributo8{
                grid-area: atributo8;
                @extend %atributos-div-s5;
                align-items: flex-start;
                p{
                    @extend %atributos-p-s5;
                }
            }
            .imgS5{
                grid-area: imgs5;
                img{
                    position: relative;
                    z-index: 0;
                    bottom: 52%;
                }
            }
        }       
    }
    .footerAnteriores{
        background-color: #354259;
        padding: 20px;
        margin: 0;
        p{
            color: white;
            font-family: 'Montserrat', sans-serif;
        }  
    }
}

@import "base/mediaqueries";
@import "base/mediaqueriestip";