@import "base/variables";
@import "base/mapas";
@import "base/extend";
@import "base/mixin";


*{
    @extend %ajuste-inicial;
}

/* estilos del index*/

body{
    height: 100%;
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        nav{
            ul{
                li{
                    a:hover{
                        background: map-get($map: $nav-pages, $key: hover-menu);
                    }
                }
            }
            div{
                a:hover{
                    background: map-get($map: $nav-pages, $key: hover-encabezado);
                }
            }
        }
    }
    .headerIndex{
        border-top: 15px solid transparent;
        border-image: linear-gradient(to right, $color-principal, black) 1;
        .logoPrincipal{
            width: 230px;
            height: 200px;
            margin: 40px 0;
        }
        .logoPrincipal:hover{
            transform: scale(1.2);
        }
        .menuNav{
            width: map-get($map: $nav-home, $key: w-home);
            nav{
                display: map-get($map: $nav-home, $key: estilo-home);
                justify-content: map-get($map: $nav-home, $key: ubicacion-home);
                width: map-get($map: $nav-home, $key: w-home);
                padding-top: map-get($map: $nav-home, $key: pdg-home);
                ul{
                    li{
                        display: inline-block;
                        }
                    }
                }
            }
            .indexNav{
                background-image: linear-gradient(to right, $color-principal, black);
                ul{
                    li{
                        a{
                            font-family: 'Abel', sans-serif;
                            text-decoration: none;
                            color: map-get($map: $nav-home, $key: color-home);
                            padding: map-get($map: $nav-home, $key: pdg-home);
                            font-size: map-get($map: $nav-home, $key: font-s-home);
                            margin: map-get($map: $nav-home, $key: margin-home);
                        }
                        a:hover{
                            background: map-get($map: $nav-home, $key: hover-home);
                        }
                    }
                }
            }
            div{
                div{
                    div{
                        img{
                            width: auto;
                            height: 65vh;
                        }
                    }
                }
            }
        }
    .mainHome{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-template-rows: 20% 80% ;
        grid-template-areas:
                            "h1 h1 h1 h1"
                            "img-1 img-2 img-3 img-4";
        justify-items: center;
        align-items: center;
        .h1Inicio{
            grid-area: h1;
            margin: 80px 0;
            .estiloH1Inicio{
                text-align: center;
                font-family: 'Abel', sans-serif;
                font-size: 200%;
                font-weight: bold;
            }
        }
        div{
            img{
                width: 100%;
                height: 80%;
            }
            .h3Index{
                font-size: 1.2rem;
                margin: 10px;
            }
        }
        .imgIndex1{
            grid-area: img-1;
            @include grid-tarjetas;
        }
        .imgIndex2{
            grid-area: img-2;
            @include grid-tarjetas;
        }
        .imgIndex3{
            grid-area: img-3;
            @include grid-tarjetas;
        }
        .imgIndex4{
            grid-area: img-4;
            @include grid-tarjetas;
        }
        .animacionCard:hover{
            @include animacion-card;
        }
    }
    footer{
        color: whitesmoke;  
        background-color: black;
        overflow: hidden;
        margin-top: 30px;
        font-family: 'Abel', sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .logoPago{
            padding: 30px;
            .h2Pago{
                margin-bottom: 10px;
                font-size: 1.5rem;
            }
            img{
                width: 72px;
                height: 37px;
                margin-bottom: 50px;
                padding: 2px;
            }
        }
        div{
            .h2Posicion{
                margin: 34px 0px 5px 10px;
                font-size: 1.5rem;
            }
            .logoRedes{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 220px;
                padding: 5px;
                border-radius: 50%;
                .logoI{
                    width: 40px;
                    height: 40px;
                }
                .logoStyle{
                    font-size: 17px;
                    margin-top: 10px;
                }
                .logoF{
                    width: 30px;
                    height: 30px;
                    padding: 3px;
                    margin: 0px 3px 0px 12px;   
                }
            }
        }
    }
}

/* estilos de productos */

body{
    .headerProductos{
        width: 100%;
        .navProductos{
            margin-left: map-get($map: $nav-pages, $key: margin-menu);
            margin-right: 0;
        }
    }
    .mainProductos{
        padding-right: 0;
        .cabeceraProductos{
            height: 120px;
            background-image: url(../img/background.image/fondo.productos.jpg);
            @extend %img-titulo;
            border-bottom: 3px solid #59CE8F;
            .h1Productos{
                text-align: center;
                color: green;
                font-family: 'Abel', sans-serif;
                font-size: 40px;
                margin-top: 30px;
            }
        }
        .row{
            margin-right: 0;
        }
        div{
            .lista{
                padding: 10px;
                margin: 30px 0;
                .list-group{
                    --bs-list-group-active-bg: #59ce8f;
                    --bs-list-group-active-border-color: #59CE8F;
                }
                div{
                    h4{
                        padding: 10px;
                        border-bottom: 0.5px groove #E1FFEE;
                    }         
                    .productos{
                        margin: 30px 0;
                        .tarjeta{
                            margin: 30px 30px;
                            padding: 0px;
                            font-family: 'Abel', sans-serif;
                        }
                        .tarjeta:hover{
                            @include animacion-card;
                        }
                    }
                }
            }
        }
    }
}

/* estilos de la-tienda */ 

body{
    .tienda{
        padding: 0;
        margin-bottom: 0;
        .navTienda{
            position: map-get($map: $nav-pages, $key: posicion-pages);
            width: map-get($map: $nav-pages, $key: w-pages);
        }
        .h1Tienda{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Abel', sans-serif;   
            color: green;
            margin: 0;  
            width: 100%;
            height: 18vh;
            background-image: url(../img/background.image/fondo.productos.jpg);
            @extend %img-titulo;
            border-bottom: 3px solid #59CE8F;                
        }
    }
    .mainLaTienda{
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        grid-template-rows: 60% 10% 30%;
        grid-template-areas:
                            "portada portada"
                            "ubicacion ubicacion"
                            "mainLaTienda1 mainLaTienda2" ;
                            
        column-gap: 10px;
        height: auto;
        .portada{
            grid-area: portada;
            display: flex;
            justify-content: center;
            img{
                width: 60%;
                height: 95%;
            }
        }
        .ubicacion{
            grid-area: ubicacion;
            display: flex;
            justify-content: left;
            align-items: center;
            font-family: 'Abel', sans-serif;
            font-size: 20px;
            p{
                margin-top: 20px;
            }
            img{
                width: 50px;
                height: 60px;
            }
        }
        .mainLaTienda1{
            grid-area: mainLaTienda1;
            margin: 10px 0 0 60px;
            height: auto;
            .mapa{
                width: 70%;
            }
        }
        .mainLaTienda2{
            grid-area: mainLaTienda2;
            display: flex;
            flex-direction: column;
            .tiendaIcon{
                display: flex;
                align-items: center;
                padding: 10px;
                .p-icon{
                    margin: 10px;
                    align-items: center;
                    font-family: 'Abel', sans-serif;
                }
            }
        }
    }
}

/* estilos contacto */ 

.hojaContacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 60% 30%;
    grid-template-areas:
                        "header header"
                        "main main"
                        "footer footer";
    background-image: url(../img/background.image/fondo.contacto.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    height: 130vh;
    .headerContacto{
        grid-area: header;
        .navContacto{
            margin-left: map-get($map: $nav-pages, $key: margin-menu);
            margin-bottom: map-get($map: $nav-pages, $key: pdg-pages);
        }
    }
    .mainContacto{
        grid-area: main;
        margin-bottom: 40px;
        .formulario{
            width: 90%;
            max-width: 600px;
            margin: auto;
            background: rgba(0, 0, 1, 0.6);
            font-family: 'Abel', sans-serif;
            font-size: 20px;
            color: whitesmoke;
            border-radius: 10px;
            fieldset{
                .form{
                    padding: 10px;
                    margin: 5px;
                    label{
                        padding: 3px;
                        margin-right: 20px;
                    }
                    input{
                        width: 250px;
                        height: 25px;
                        border-radius: 10px;
                        border-style: hidden;
                    }
                }
                .formDistinto{
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    margin: 5px;
                    input{
                        width: 500px;
                        height: 100px;
                        margin: 10px 0 10px 0;
                        border-radius: 10px;  
                        border-style: hidden;
                    }
                }
                .formButton{
                    display: flex;
                    justify-content: space-around;
                    padding: 5px;
                    input{
                        width: 10rem;
                        height: 1.5rem;
                        border-radius: 10px;
                        border-style: hidden;
                        font-family: 'Abel', sans-serif;
                        font-size: 90%;
                    }
                }
            }
        }
    }
    .footerStyleContacto{
        grid-area: footer;
    }
}

/* estilos Mas.. */ 

body{
    .headerMas{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        padding: 0;
        .navTienda{
            position: map-get($map: $nav-pages, $key:posicion-pages);
            width: map-get($map: $nav-pages, $key:w-pages);
        }
        .encabezado{
            width: 100%;
            height: 100px;
            background: #3d8676;
            text-align: center;
            border-bottom-left-radius: 50% 50%;
            border-bottom-right-radius: 50% 50%;
            .h1Mas{
                font-family: 'Montserrat Alternates', sans-serif;
                margin: 20px 0;
                color: whitesmoke;
                font-size: 2.5rem; 
            }
        }
    }
    .mainMas{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 100%;
        grid-template-areas: 
                            "imgMas textoTip";
        align-items: center;
        height: 100%;
        .imgMas{
            grid-area: imgMas;
            display: flex;
            justify-content: center;
            img{
                width: 70%;
                height: 100%;
            }
        }
        .textoTip{
            grid-area: textoTip;
            font-family: 'Montserrat', sans-serif;
            margin: 40px 5px;
            .estiloTip{
                grid-area: estiloTip;
                display: flex;
                justify-content: start;
                height: 100%;
                h2{
                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }
            .listaTip{
                grid-area: listaTip;
                margin: 0;
                font-size: 1rem;
                background-color: #A084CA;
                color: white;
                width: 75%;
                border-radius: 20px;
                ul{
                    margin: 15px;
                    padding: 10px;
                }
            }
        }
    }
}



@import "base/mediaqueries";