%ajuste-inicial {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

%encabezados{
    text-align: center;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
}

%propiedades-S3{
    display: flex;
    font-weight: bold;
}