$nav-home: (
    w-home: 100%,
    pdg-home: 10px,
    estilo-home: flex,
    ubicacion-home: center,
    color-home: whitesmoke,
    font-s-home: 18px,
    margin-home: 0px,
    hover-home: #60A9A6,
);

$nav-pages: (
    posicion-pages: static,
    w-pages: 100%,
    margin-menu: 0,
    pdg-pages: 10px,
    hover-menu: rgb(126, 189, 87),
    hover-encabezado: rgb(104, 122, 104),
);