/* Media Queries */

@media screen and (max-width: 800px) {
    
    /* index */

    body{
        header{
            .menuNav{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: auto;
                .indexNav{
                    width: auto;
                    ul{
                        display: flex;
                        flex-wrap: nowrap;
                        padding-left: 0;
                        margin-bottom: 0;
                        li{
                            width: auto;
                            a{
                                width: auto;
                                height: auto;
                            }
                        }
                    }
                }
                div{
                    div{
                        div{
                            img{
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
        .mainHome{
            display: flex;
            flex-direction: column;
            align-content: center;
            button{
                width: auto;
            }
        }
        footer{
            display: flex;
            flex-direction: column;
            .logoPago{
                margin: 0;
                padding: 10px;
                img{
                    margin: 5px;
                }
            }
            div{
                .logoRedes{
                    justify-content: start;
                    width: 100%;
                }
            }
        }   
    }

    /* Productos */ 

    body{
        .mainProductos{
            div{
                .lista{
                    width: 100%;
                }
            }
        }
    }

    /* La Tienda */ 

    body{
        .tienda{
            display: flex;
            flex-direction: column;
            height: auto;
            .h1Tienda{
                height: 230px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
        .mainLaTienda{
            display: flex;
            flex-direction: column;
            height: auto;
        }
    }

    /* contacto */

    .hojaContacto{
        display: flex;
        flex-direction: column;
        background-size: cover;
        background-attachment: fixed;
        background-position:center;
        background-repeat: no-repeat;
        height: 100%;
        .mainContacto{
            .formulario{
                width: 100%;
                margin: 30px 0;
                fieldset{  
                    .form{
                        display: flex;
                        flex-direction: column;
                        input{
                            width: auto;
                        }
                    }
                    .formDistinto{
                        input{
                            width: 100%;
                        }
                    }
                    .formButton{
                        padding: 0x;
                        gap: 2px;
                        input{
                            width: 70%;
                        }
                    }
                }
            }
        }
        .footerStyleContacto{
            display: none;
        }
    }

    /* Mas.. */ 

    body{
        .headerMas{
            .encabezado{
                height: auto;
            }
        }
        .mainMas{
            display: flex;
            flex-direction: column;
            height: auto;
            .anteriores{
                width: 100%;
                height: auto;
                margin-bottom: 30px;
                .buttonMas{
                    width: auto;
                }
            }
            .textoTip{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                .listaTip{
                    width: auto;
                }
            }
        }
    }
}